*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    font-family: 'poppins';
    text-decoration: none;
    transition: 0.5s linear;
    
}
.heading{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
}
.container{
    background: linear-gradient(45deg,green,pink);
    padding: 15px, 10px;
}
 .container .heading{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: aqua;
 }
 .box-container{
        text-align: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit,minmax(270px,2fr));
        padding: 50px;
 }
 .container .box-container .box1{
    background-color: brown;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(0,0,0,.2);

 }
 .container .box-container .box1:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgb(0,0,0,.3);
 }
 .box1 img{
    width: 120px;
    margin-top: 20px;
 }
 .box1 button{
    text-align: center;
    background-color: aqua;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.box1 button:hover{
   background-color: tomato;
 }
 .box1 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 }
 .box1 p{
    margin-top: 30px;
 }
 .container .box-container .box2{
    background-color: aqua;
    border-radius: 5px;
    text-align: center;
    box-shadow:10px,10px;
 }
 .container .box-container .box2:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgb(0,0,0,.3);
 }
 .box2 img{
    width: 120px;
    margin-top: 20px;
 }
 .box2 button{
    text-align: center;
    background-color: brown;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 23px;
    transition: all 0.5s ease;
}
.box2 button:hover{
   background-color: tomato;
 }
 .box2 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 }
 .box2 p{
    margin-top: 30px;
 }
 .container .box-container .box3{
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    box-shadow:10px,10px;
 }
 .container .box-container .box3:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgb(0,0,0,.3);
 }
 .box3 img{
    width: 160px;
    margin-top: 20px;
 }
 .box3 button{
    text-align: center;
    background-color: blueviolet;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.box3 button:hover{
   background-color: tomato;
 }
 .box3 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 }
 .box3 p{
    margin-top: 30px;
 }
.container .box-container .box4{
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
    box-shadow:10px,10px;
 }
 .container .box-container .box4:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgb(0,0,0,.3);
 }
 .box4 img{
    width: 100px;
    margin-top: 20px;
 }
 .box4 button{
    text-align: center;
    background-color: orange;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 25px;
    transition: all 0.5s ease;
}
.box4 button:hover{
   background-color: tomato;
 }
 .box4 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 }
 .box4 p{
    margin-top: 30px;
 }
 .container .box-container .box5{
    background-color: goldenrod;
    border-radius: 5px;
    text-align: center;
    box-shadow:10px,10px;
 }
 .container .box-container .box5:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgb(0,0,0,.3);
 }
 .box5 img{
    width: 120px;
    margin-top: 20px;
 }
 .box5 button{
    text-align: center;
    background-color: magenta;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.box5 button:hover{
   background-color: tomato;
 }
 .box5 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 }
 .box5 p{
    margin-top: 30px;
 }
 .container .box-container .box6{
    background-color: magenta;
    border-radius: 5px;
    text-align: center;
    box-shadow:10px,10px;
 }
 .container .box-container .box6:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgb(0,0,0,.3);
 }
 .box6 img{
    width: 120px;
    margin-top: 20px;
 }
 .box6 button{
    text-align: center;
    background-color: aqua;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 20px;
    transition: all 0.5s ease;
 }
 .box6 button:hover{
    background-color: tomato;
 }
 .box6 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 }
 .box6 p{
    margin-top: 30px;
 }
